       <!-- our pricing  
       <section class="section" id="pricing">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-lg-8 text-center">
                    <h2 class="fs-3 fw-medium lh-1 text-dark mb-3">Our Pricing</h2>
                    <p class="text-muted">
                        Call to action pricing table is really crucial to your for your business website. Make your bids stand-out with amazing options.
                    </p>
                </div>
            </div>
          

            <div class="row">
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="price-box border rounded bg-white p-5">
                        <h4 class="fw-normal text-dark mb-2">Starter</h4>
                        <p class="text-muted fs-14">Casitamet consectetur adipisicing elit Fugiat dolorum magni.</p>
                        <div class="mt-4 pt-2">
                            <p class="text-dark"><span class="fs-22 me-1 align-middle text-primary icon">▹</span>Online Space : 500MB</p>
                            <p class="text-dark my-1"><span class="fs-22 me-1 align-middle text-primary icon">▹</span>Bandwidth : 1.5GB</p>
                            <p class="text-dark"><span class="fs-22 me-1 align-middle text-primary icon">▹</span>Support : Yes</p>
                        </div>
                        <h5 class="fw-semibold my-4 py-2"><sup>$</sup>32 <span class="fw-normal fs-14">Per Month</span></h5>
                        <a href="javascript:void(0);" class="text-primary fw-medium">
                            Choose Plan
                            <span class="fs-22 ms-1 align-middle icon">⇾</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="price-box border rounded bg-white p-5">
                        <h4 class="fw-normal mb-2">Business</h4>
                        <p class="text-muted fs-14">Casitamet consectetur adipisicing elit Fugiat dolorum magni.</p>
                        <div class="mt-4 pt-2">
                            <p class="text-dark"><span class="fs-22 me-1 align-middle text-primary icon">▹</span>Online Space : 500MB</p>
                            <p class="text-dark my-1"><span class="fs-22 me-1 align-middle text-primary icon">▹</span>Bandwidth : 1.5GB</p>
                            <p class="text-dark"><span class="fs-22 me-1 align-middle text-primary icon">▹</span>Support : Yes</p>
                        </div>
                        <h5 class="fw-semibold my-4 py-2"><sup>$</sup>199 <span class="fw-normal fs-14">Per Month</span></h5>
                        <a href="javascript:void(0);" class="text-primary fw-medium">
                            Choose Plan
                            <span class="fs-22 ms-1 align-middle icon">⇾</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="price-box border rounded bg-white p-5">
                        <h4 class="fw-normal text-dark mb-2">Enterprise</h4>
                        <p class="text-muted fs-14">Casitamet consectetur adipisicing elit Fugiat dolorum magni.</p>
                        <div class="mt-4 pt-2">
                            <p class="text-dark"><span class="fs-22 me-1 align-middle text-primary icon">▹</span>Online Space : 500MB</p>
                            <p class="text-dark my-1"><span class="fs-22 me-1 align-middle text-primary icon">▹</span>Bandwidth : 1.5GB</p>
                            <p class="text-dark"><span class="fs-22 me-1 align-middle text-primary icon">▹</span>Support : Yes</p>
                        </div>
                        <h5 class="fw-semibold my-4 py-2"><sup>$</sup>299 <span class="fw-normal fs-14">Per Month</span></h5>
                        <a href="javascript:void(0);" class="text-primary fw-medium">
                            Choose Plan
                            <span class="fs-22 ms-1 align-middle icon">⇾</span>
                        </a>
                    </div>
                </div>
            </div>
          
        </div>
       
    </section>-->
    <!-- end our-pricing -->

    <!-- brand-logo -->
    <section class="brand-section">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-lg-8 text-center">
                    <h2 class="fs-3 fw-medium lh-1 text-dark mb-3">Partenaires Techniques & Financier</h2>
                    <p class="text-muted">
                        <!-- Call to action pricing table is really crucial to your for your business website. Make your bids stand-out with amazing options.
                  -->  </p> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 my-4">
                    <img class="img-fluid mx-auto brand-logo d-block" src="assets/images/partners/logo_cilss.png" alt="" />
                </div>
                <div class="col-md-3 col-sm-6 my-4">
                    <img class="img-fluid mx-auto brand-logo d-block" src="assets/images/partners/CEDEAO_Logo.jpg" alt="" />
                </div>
                <div class="col-md-3 col-sm-6 my-4">
                    <img class="img-fluid mx-auto brand-logo d-block" src="assets/images/partners/Logo_UEMOA.jpg" alt="" />
                </div>
                <div class="col-md-3 col-sm-6 my-4">
                    <img class="img-fluid mx-auto brand-logo d-block" src="assets/images/partners/logo-bm.png" alt="" />
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end-container -->
    </section>
    <!-- end brand logo -->

    <!-- start cta 
    <section class="section bg-light" style="background: url(assets/images/contact-bg.png); background-repeat: no-repeat; background-size: cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-dark mb-4">Boost your performance</h2>
                    <p class="text-muted">We thrive when coming up with innovative ideas but also understand that a smart concept should be supported with faucibus sapien odio measurable results.</p>
                    <div class="mt-4">
                        <a href="javascript:void(0);" class="btn btn-primary">Choose Plan <span class="fs-22 ms-1 lh-1 align-middle icon">⇾</span></a>
                    </div>
                </div>
            </div>
            
        </div>
        
    </section>-->
    <!-- end cta -->
