<app-header />
<!--------->
<!-------------------------------------------------------->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <mat-card class="mb-25 tagus-card">
            <mat-card-header>
                <h4 class="mb-0">Elevage | Tableau de bord </h4>
            </mat-card-header>
            <mat-card-content>
                <form>
                    <div class="row">
                       
                        <!--  <div class="col-lg-4 col-md-12">
                            <form>
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <mat-label>Campagne</mat-label>
                                    <mat-select  (selectionChange)="onChangeCampagne($event)">
                                        <mat-option *ngFor="let campagne of campagnes" [value]="campagne['id']">{{campagne['annee_debut']}} - {{campagne['annee_fin']}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </form>
                        </div>
                        
                        <div class="col-lg-4 col-md-12">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Pays</mat-label>
                                <mat-select     (selectionChange)="onChangePays($event)">
                                    <mat-option *ngFor="let country of pays" [value]="country['id']">
                                      <img src="http://127.0.0.1:8000/{{country['image']}}" width="30px" height="15px"> {{country['nomDivision']}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> 
                         
                         <div class="col-lg-6 col-md-12">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Indicateur</mat-label>
                                <mat-select  (selectionChange)="onChangeIndicateur($event)">
                                    <mat-option  [value]="52">05R004 - Superficie des principales cultures</mat-option>
                                    <mat-option  [value]="53">05R004 - Rendement des principales cultures</mat-option>
                                    <mat-option  [value]="54">05R004 - Production des principales cultures</mat-option>

                                     <mat-option *ngFor="let indicateur of indicateurs" [value]="indicateur['id']">{{indicateur['code']}} - {{indicateur['libelle']}}</mat-option>
                                     
                                </mat-select>
                            </mat-form-field>

                         </div>-->
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    
</div>
<!-------------------------------------------------------->
<div class="row">
    <div class="col-lg-6 col-md-6">
        <mat-card class="mb-25 tagus-card">
            <mat-card-header class="border-bottom">
                <h5 class="mb-0">Effectif cheptel (nbr)</h5>
            </mat-card-header>
            <mat-card-content>
                <div class="chart">
                    <apx-chart
                        [series]="chartOptions.series!"
                        [chart]="chartOptions.chart!"
                        [xaxis]="chartOptions.xaxis!"
                        [dataLabels]="chartOptions.dataLabels!"
                        [grid]="chartOptions.grid!"
                        [yaxis]="chartOptions.yaxis!"
                        [stroke]="chartOptions.stroke!"
                        [title]="chartOptions.title!"
                        [colors]="chartOptions.colors!"
                    ></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6 col-md-6">
        <mat-card class="mb-25 tagus-card">
            <mat-card-header class="border-bottom">
                <h5 class="mb-0"></h5>
            </mat-card-header>
            <mat-card-content>
                <div class="chart">
                    <apx-chart
                        [series]="chartOptions_2.series!"
                        [chart]="chartOptions_2.chart!"
                        [dataLabels]="chartOptions_2.dataLabels!"
                        [plotOptions]="chartOptions_2.plotOptions!"
                        [yaxis]="chartOptions_2.yaxis!"
                        [xaxis]="chartOptions_2.xaxis!"
                        [legend]="chartOptions_2.legend!"
                        [colors]="chartOptions_2.colors!"
                        [grid]="chartOptions_2.grid!"
                    ></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!--========================================================-->
<div class="row">
    <div class="col-lg-6 col-md-6">
        <mat-card class="mb-25 tagus-card">
            <mat-card-header class="border-bottom">
                <h5 class="mb-0">Production de la viande (T)</h5>
            </mat-card-header>
            <mat-card-content>
                <div class="chart">
                    <apx-chart
                        [series]="chartOptions_3.series!"
                        [chart]="chartOptions_3.chart!"
                        [xaxis]="chartOptions_3.xaxis!"
                        [dataLabels]="chartOptions_3.dataLabels!"
                        [grid]="chartOptions_3.grid!"
                        [yaxis]="chartOptions_3.yaxis!"
                        [stroke]="chartOptions_3.stroke!"
                        [title]="chartOptions_3.title!"
                        [colors]="chartOptions_3.colors!"
                    ></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6 col-md-6">
        <mat-card class="mb-25 tagus-card">
            <mat-card-header class="border-bottom">
                <h5 class="mb-0"></h5>
            </mat-card-header>
            <mat-card-content>
                <div class="chart">
                    <apx-chart
                        [series]="chartOptions_4.series!"
                        [chart]="chartOptions_4.chart!"
                        [dataLabels]="chartOptions_4.dataLabels!"
                        [plotOptions]="chartOptions_4.plotOptions!"
                        [yaxis]="chartOptions_4.yaxis!"
                        [xaxis]="chartOptions_4.xaxis!"
                        [legend]="chartOptions_4.legend!"
                        [colors]="chartOptions_4.colors!"
                        [grid]="chartOptions_4.grid!"
                    ></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!--========================================================-->
<div class="row">
    <div class="col-lg-6 col-md-6">
        <mat-card class="mb-25 tagus-card">
            <mat-card-header class="border-bottom">
                <h5 class="mb-0">Production des oeufs (T)</h5>
            </mat-card-header>
            <mat-card-content>
                <div class="chart">
                    <apx-chart
                        [series]="chartOptions_5.series!"
                        [chart]="chartOptions_5.chart!"
                        [xaxis]="chartOptions_5.xaxis!"
                        [dataLabels]="chartOptions_5.dataLabels!"
                        [grid]="chartOptions_5.grid!"
                        [yaxis]="chartOptions_5.yaxis!"
                        [stroke]="chartOptions_5.stroke!"
                        [title]="chartOptions_5.title!"
                        [colors]="chartOptions_5.colors!"
                    ></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6 col-md-6">
        <mat-card class="mb-25 tagus-card">
            <mat-card-header class="border-bottom">
                <h5 class="mb-0"> </h5>
            </mat-card-header>
            <mat-card-content>
                <div class="chart">
                    <apx-chart
                        [series]="chartOptions_6.series!"
                        [chart]="chartOptions_6.chart!"
                        [dataLabels]="chartOptions_6.dataLabels!"
                        [plotOptions]="chartOptions_6.plotOptions!"
                        [yaxis]="chartOptions_6.yaxis!"
                        [xaxis]="chartOptions_6.xaxis!"
                        [legend]="chartOptions_6.legend!"
                        [colors]="chartOptions_6.colors!"
                        [grid]="chartOptions_6.grid!"
                    ></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!--========================================================-->
<div class="row">
    <div class="col-lg-6 col-md-6">
        <mat-card class="mb-25 tagus-card">
            <mat-card-header class="border-bottom">
                <h5 class="mb-0">Production du lait (T)</h5>
            </mat-card-header>
            <mat-card-content>
                <div class="chart">
                    <apx-chart
                        [series]="chartOptions_7.series!"
                        [chart]="chartOptions_7.chart!"
                        [xaxis]="chartOptions_7.xaxis!"
                        [dataLabels]="chartOptions_7.dataLabels!"
                        [grid]="chartOptions_7.grid!"
                        [yaxis]="chartOptions_7.yaxis!"
                        [stroke]="chartOptions_7.stroke!"
                        [title]="chartOptions_7.title!"
                        [colors]="chartOptions_7.colors!"
                    ></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6 col-md-6">
        <mat-card class="mb-25 tagus-card">
            <mat-card-header class="border-bottom">
                <h5 class="mb-0"></h5>
            </mat-card-header>
            <mat-card-content>
                <div class="chart">
                    <apx-chart
                        [series]="chartOptions_8.series!"
                        [chart]="chartOptions_8.chart!"
                        [dataLabels]="chartOptions_8.dataLabels!"
                        [plotOptions]="chartOptions_8.plotOptions!"
                        [yaxis]="chartOptions_8.yaxis!"
                        [xaxis]="chartOptions_8.xaxis!"
                        [legend]="chartOptions_8.legend!"
                        [colors]="chartOptions_8.colors!"
                        [grid]="chartOptions_8.grid!"
                    ></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!--========================================================-->