<app-header />
<!--------->
<!--------->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h5 class="mb-0">Générateur</h5>
    <ol class="breadcrumb mb-0 ps-0">
        <li class="breadcrumb-item">
            <a routerLink="/">
                <i class="ri-home-8-line"></i>
                Home
            </a>
        </li>
        <li class="breadcrumb-item fw-semibold">Elevage</li>
        <li class="breadcrumb-item fw-semibold">Generateur</li>
    </ol>
</div>

<mat-card class="mb-25 tagus-card">
    <mat-card-header>
        <h5 class="mb-0">Elevage - génération des indicateurs d'élévage</h5>
        
    </mat-card-header>
    <mat-card-content>
        <!-------------------------------------------------------->
            <div style="border-left:15px solid #ff6600" class="row">
                <div class="col-lg-6 col-md-6">
                    <mat-card class="mb-25 tagus-card">
                        <mat-card-header class="border-bottom">
                            <h6 class="mb-0">Selectionnez</h6>
                        </mat-card-header>
                        <mat-card-content>
                            <form [formGroup]="generateurForm">
                                <div class="row">
                                    <!----------------------Pays-------------------------------------------->
                                    <div class="col-lg-6 col-md-12">
                                        <mat-form-field appearance="fill" class="example-full-width">
                                            <mat-label>Pays</mat-label>
                                            <mat-select  formControlName="pays" [(ngModel)]="pays_params">
                                                <mat-option>Selection</mat-option>
                                                <mat-option *ngFor="let country of pays" [value]="country['id']">
                                                    <img src="http://154.127.90.218:8000/{{country['image']}}" width="30px" height="15px"> {{country['nomDivision']}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <!----------------------Campagne-------------------------------------------->
                                    <div class="col-lg-6 col-md-12">
                                        <form [formGroup]="generateurForm">
                                            <mat-form-field appearance="fill" class="example-full-width">
                                                <mat-label>Campagne</mat-label>
                                                <mat-select  formControlName="campagne"  [(ngModel)]="campagne_params">
                                                    <mat-option *ngFor="let campagne of campagnes" [value]="campagne['annee_debut']">{{campagne['annee_debut']}} - {{campagne['annee_fin']}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </form>
                                    </div>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
                <!--========================================-->
                <div class="col-lg-6 col-md-6">
                    <mat-card class="mb-50 tagus-card">
                        <mat-card-header class="border-bottom">
                            <!-- <h6 class="mb-0">Selection un indicateur</h6> -->
                        </mat-card-header>
                        <mat-card-content>
                            <form   [formGroup]="generateurForm">
                                <mat-form-field appearance="fill" style="width:400px;"  class="example-full-width">
                                    <mat-label>Indicateur</mat-label>
                                    <mat-select    formControlName="indic" [(ngModel)]="indicValue">
                                      <mat-option *ngFor="let indicateur of indicateurs" [value]="indicateur['id']">{{indicateur['code']}}</mat-option>
                                    </mat-select>
                                </mat-form-field> 
                                &nbsp;&nbsp;&nbsp;
                               <!-- <button mat-button type="submit"  style="background-color:green; color:white">
                                    <i class="flaticon-diskette"></i>
                                </button>-->
                                <button mat-button (click)="uploadProdagricData()"  style="background-color:green; color:white">
                                   
                                    <!------->
                                    <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>
                                    <span *ngIf="isLoading$ | async">Generation...</span>
                                    <!------->
                                    <i *ngIf="!(isLoading$ | async)" class="flaticon-diskette"></i>&nbsp;
                                    <span *ngIf="!(isLoading$ | async)">Valider</span>
                                    <!------->
                                </button> 
                            </form>
                        </mat-card-content>

                    
                    </mat-card>
                </div>
                <!--========================================-->
            </div>
      
        <!-------------------------------------------------------->
      
    </mat-card-content>
</mat-card>