<div class="create-dialog-box scrollable-dialog">
    <div class="title d-flex align-items-center justify-content-space-between">
        <h4 class="mb-0">Ajout / Modification Fréquence</h4>
        <button class="close-btn bg-transparent p-0 border-none" (click)="close()"><i class="flaticon-close"></i></button>
    </div>
    <form>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="d-block fw-semibold">Code</label>
                    <input type="text" class="input-control" placeholder="Code *">
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label class="d-block fw-semibold">Nom</label>
                    <input type="text" class="input-control" placeholder="Nom *">
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label class="d-block fw-semibold">Nom ang</label>
                    <input type="text" class="input-control" placeholder="Nom ang *">
                </div>
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="gray" (click)="close()"><i class="ri-close-fill"></i> Annuler</button>
            <button type="submit"><i class="ri-add-fill"></i> Enregistrer</button>
        </div>
    </form>
</div>
