
        <!-- start hero -->
        <section class="hero-one-4 d-flex justify-content-center align-items-center overflow-hidden section" id="home" style="background-image: url(assets/images/hero-one-4-bg-overlay.png);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 mt-5">
                        <div class="text-center">
                            <h5 class="text-white-50 text-uppercase fs-5 position-relative hero-one-4-subtitle">Welcome to</h5>
                            <div class="clip-text clip-text_one text-uppercase lh-1 fw-bold mb-2">Xolcy</div>
                            <p class="text-white-50 mb-4 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium perspiciatis impedit nostrum reprehenderit soluta repudiandae doloribus iure, sequi hic cum unde.</p>
                            <a href="javascript:void(0);" class="btn btn-light text-primary fw-medium text-uppercas">Know More <i-feather class="icon-xs" name="chevrons-right"></i-feather></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end container -->
        </section>

            
<app-services></app-services>
<app-features></app-features>
<app-clients></app-clients>
<app-portfolio></app-portfolio>
<app-pricing></app-pricing>
<app-contact></app-contact>