       <!-- start hero -->
       <section class="hero-one-6 position-relative overflow-hidden align-items-center justify-content-center d-flex section" id="home" style="background-image: url(assets/images/hero-one-6-bg.png);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="hero-one-6-content">
                        <h1 class="fw-medium mb-4 pb-2">
                            Take Your <br />
                            Project To The Next <br />
                            Level
                        </h1>
                        <div class="d-flex">
                            <div class="d-inline-block">
                                <a class="align-middle fw-normal text-dark fs-20">We Build Degital Products.</a>
                                <p class="text-muted mb-4 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptatum sint qui beatae nemo maxime nulla cumque aut nobis.</p>
                                <a class="btn btn-primary" href="">Learn More <i-feather class="icon-xs" name="chevrons-right"></i-feather> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-6">
                    
                </div> -->
            </div>
        </div>
        <!-- end container -->
       <ngx-slick-carousel class="carousel"  [config]="slideConfig"  class="video-section mt-sm-5 overflow-hidden">
                <div class="swiper-slide" ngxSlickItem >
                    <img class="img-fluid rounded" src="assets/images/hero-one-6-slider1.jpg" alt="" />
                </div>
                <div class="swiper-slide" ngxSlickItem >
                    <img class="img-fluid rounded" src="assets/images/hero-one-6-slider2.jpg" alt="" />
                </div>
                <div class="swiper-slide" ngxSlickItem >
                    <img class="img-fluid rounded" src="assets/images/hero-one-6-slider3.jpg" alt="" />
                </div>
        </ngx-slick-carousel>
    </section>

        
<app-services></app-services>
<app-features></app-features>
<app-clients></app-clients>
<app-portfolio></app-portfolio>
<app-pricing></app-pricing>
<app-contact></app-contact>