     <!-- start hero -->
     <section class="hero-one-1 position-relative section" id="home" style="background-image: url(assets/images/hero-one-1-img.jpg);">
        <div class="bg-overlay position-absolute top-0 end-0 bottom-0 start-0"></div>
        <div class="bg-hero-overlay position-absolute top-0 end-0 bottom-0 start-0"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="text-white fw-lighter hero-title">
                        Make The Best Landing <br />
                        in The Market
                    </h1>
                </div>
            </div>
            <!-- end row -->
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="card bg-white border-0 shadow form-card">
                        <div class="card-body">
                            <h6 class="text-dark text-center mb-5">Free 30 Day Trial - No Credit Card Required</h6>

                            <!-- start form -->
                            <form>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="position-relative mb-4">
                                            <label class="form-label" for="yourname"> Your Name</label>
                                            <input type="text" class="form-control" id="yourname" required />
                                        </div>
                                        <div class="position-relative mb-4">
                                            <label class="form-label" for="youremail"> Your Email</label>
                                            <input type="email" class="form-control" id="youremail" required />
                                        </div>
                                        <div class="position-relative mb-4">
                                            <label class="form-label" for="contactNo"> Contact No.</label>
                                            <input type="text" class="form-control" id="contactNo" required />
                                        </div>
                                        <div class="text-center mt-4">
                                            <a href="javascript:void(0);" class="btn btn-primary">Start Your Free Trial</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- end row -->
                            </form>
                            <!-- end form -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end hero -->
    
<app-services></app-services>
<app-features></app-features>
<app-clients></app-clients>
<app-portfolio></app-portfolio>
<app-pricing></app-pricing>
<app-contact></app-contact>