<div
    class="h-100vh pt-50 pb-50"
    [class.component-dark-theme]="themeService.isDark()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.card-border-radius]="themeService.isCardBorderRadius()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="tagus-form ms-auto me-auto">
                <div class="title">
                    <div class="d-flex mb-10 align-items-center">
                        <img src="img/logo _icon-1.png" alt="logo-ecoagris">
                    </div>
                    <h4 class="mb-0 me-30">Mot de passe oublié ?</h4>
                    <p>Entrez votre email et nous vous enverrons des instructions pour réinitialiser votre mot de passe</p>
                </div>
                <form>
                    <div class="bg-white border-radius pt-20 ps-20 pe-20">
                        <div class="tagus-form-group without-icon">
                            <label class="d-block mb-12 fw-semibold gray-color">Adresse email <span>*</span></label>
                            <mat-form-field appearance="fill">
                                <mat-label>Entrez l'adresse e-mail</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-flat-button class="tagus d-block fw-semibold">Envoyer le lien de réinitialisation</button>
                    <div class="text-center back-to-login">
                        <a routerLink="/authentication" class="d-inline-block main-color fw-medium position-relative"><i class="flaticon-chevron-1"></i> Retour à la connexion</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>