     <!-- start services -->
     <section class="section" id="services">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-lg-8 text-center">
                    <h2 class="fs-3 fw-medium lh-1 text-dark mb-3">Nos statistiques</h2>
                    <p class="text-muted">
                        Une source d’indicateurs et de données fiables pour renforcer les capacités d’analyse et d’intervention des acteurs régionaux publics et privés du secteur agricole et agro-alimentaire
                    </p>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-lg-3 col-md-6 mt-4 pt-2">
                    <div style="background-color:#037D42 !important;color:white" class="card rounded service-box-two text-center py-4 px-3">
                        <div  class="card-body">
                            <div class="icon-box text-center d-inline-block">
                                <i-feather class="icon-xl service-icon sw-1" name="alert-octagon"></i-feather>
                            </div>
                            <h5 class="service-title fs-18 my-4">Pays</h5>
                            <h5>{{nb_pays}}</h5>
                          </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 pt-2">
                    <div style="background-color:#63A537 !important; color:white" class="card rounded service-box-two text-center py-4 px-3 active">
                        <div class="card-body">
                            <div  class="icon-box text-center d-inline-block">
                                <i-feather class="icon-xl sw-1 service-icon" name="shield"></i-feather>
                            </div>
                            <h5 class="service-title fs-18 my-4">Sous-système</h5>
                            <h5>{{nb_sousysteme}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 pt-2">
                    <div style="background-color:#37A76F !important; color:white !important" class="card rounded service-box-two text-center py-4 px-3">
                        <div class="card-body">
                            <div class="icon-box text-center d-inline-block">
                                <i-feather class="icon-xl sw-1 service-icon" name="minimize"></i-feather>
                            </div>
                            <h5 class="service-title fs-18 my-4">Indicateurs</h5>
                            <h5>{{nb_indicateur}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 pt-2">
                    <div style="background-color:#44C1A3 !important; color:white !important" class="card rounded service-box-two text-center py-4 px-3">
                        <div class="card-body">
                            <div class="icon-box text-center d-inline-block">
                                <i-feather class="icon-xl sw-1 service-icon" name="shield"></i-feather>
                            </div>
                            <h5>Données indicateurs</h5>
                            <h5>{{nb_data_indic}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end services -->
