<!-- start hero -->
<section class="hero-two-2 bg-primary position-relative overflow-hidden align-items-center d-flex section" id="home" style="background-image: url(assets/images/hero-two-2-bg.jpg);">
    <div class="hero-two-2-overlay position-absolute top-0 end-0 bottom-0 start-0"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="hero-two-2-content">
                    <h1 class="text-dark display-3 fw-light mb-5">
                        Let's Find The Best <br />
                        Plan For your <br />
                        Project.
                    </h1>
                    <a href="javascript:void(0);" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>

<app-service2></app-service2>
<app-feature2></app-feature2>
<app-clients2></app-clients2>
<app-portfolio2></app-portfolio2>
<app-pricing2></app-pricing2>