<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h5 class="mb-0">Fréquence</h5>
    <ol class="breadcrumb mb-0 ps-0">
        <li class="breadcrumb-item">
            <a routerLink="/">
                <i class="ri-home-8-line"></i>
                Home
            </a>
        </li>
        <li class="breadcrumb-item fw-semibold">Paramètres</li>
        <li class="breadcrumb-item fw-semibold">Unité</li>
    </ol>
</div>

<mat-card class="mb-25 tagus-card">
    <mat-card-header>
        <h5 class="mb-0">La liste des unités</h5>
       <!--  <button mat-flat-button class="default-btn tagus" (click)="openAddTaskDialog('300ms', '100ms')">
            <i class="ri-add-fill"></i> Ajout
        </button> -->
    </mat-card-header>
    <mat-card-content>
        <div class="myTasksTable mat-elevation-z8 tagus-mat-table">
             <table mat-table [dataSource]="dataSource">

                 <!-- ID Column -->
                 <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="text-start">ID</th>
                    <td mat-cell *matCellDef="let element" class="text-start">
                        <div class="d-flex align-items-center name-info">
                                {{element.id}}
                        </div>
                    </td>
                </ng-container>

                <!-- Code Column -->
                <ng-container matColumnDef="codeUnite">
                    <th mat-header-cell *matHeaderCellDef class="text-start">Code</th>
                    <td mat-cell *matCellDef="let element" class="text-start">
                        <div class="d-flex align-items-center name-info">
                                {{element.codeUnite}}
                        </div>
                    </td>
                </ng-container>

                <!-- Nom Column -->
                <ng-container matColumnDef="nomUnite">
                    <th mat-header-cell *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let element">{{element.nomUnite}}</td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <button type="button" mat-button class="position-relative dot-btn p-0 bg-transparent border-none" [matMenuTriggerFor]="actionMenu">
                            <mat-icon>more_vert</mat-icon> <i class="{{element.action}}"></i>
                        </button>
                        <mat-menu #actionMenu="matMenu" class="dotMenu two monthMenu" xPosition="before">
                            <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                                <i style="color:#48a74a" class="ri-edit-line"></i> Modifier
                            </button>
                            <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                                <i style="color:red" class="ri-delete-bin-line"></i> Supprimer
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
            </table>
            <mat-paginator
                [pageSizeOptions]="[10, 20, 30, 40]"
                showFirstLastButtons
            >
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>

