<app-header />
<!--------->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h5 class="mb-0"></h5>
    <ol class="breadcrumb mb-0 ps-0">
        <li class="breadcrumb-item fw-semibold">Indicateurs</li>
        <li class="breadcrumb-item fw-semibold">Variable</li>
        <li class="breadcrumb-item fw-semibold">{{id ? 'Modification': 'Création'}} d'une variable</li>
    </ol>
</div>


<div class="row">
    <!------------------------------Formulaire----------------------------->
    <div class="col-lg-9 col-md-9">
        <mat-card class="mb-25 create-project-card tagus-card">
            <mat-card-header class="border-bottom">
                <h5 class="mb-0">{{id ? 'Modification': 'Création'}} d'une variable</h5>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="variableForm"  (ngSubmit)="onFormSubmit()" novalidate>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Code</label>
                            <mat-form-field appearance="fill" >
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Code</mat-label>
                                <input matInput  formControlName="code">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Libellé en français</label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Libellé en français</mat-label>
                                <input matInput   formControlName="libelle">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Libellé en anglais</label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Libellé en anglais</mat-label>
                                <input matInput  formControlName="libelle_ang">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Lien API</label>
                            <mat-form-field appearance="fill" >
                                <i class="ri-information-line"></i>
                                <mat-label>Lien API</mat-label>
                                <input matInput  formControlName="api_url">
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-button type="submit" style="background-color:green" class="default-btn mt-25 btn text-white btn-block">
                        {{id ? 'Modifier': 'Enregistrer'}}
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <!------------------------------Fin Formulaire----------------------------->
    
</div>

