<div
    class="sidebar-area bg-white box-shadow"
    [ngClass]="{'active': isToggled}"
    [class.dark-sidebar]="themeService.isSidebarDark()"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
>
    <div class="logo bg-white">
        <a routerLink="/authentication" class="d-flex align-items-center">
            <img src="img/logo _side.png" alt="logo">
            <!-- <span>Tagus</span> -->
        </a>
    </div>
    <div class="burger-menu" (click)="toggle()" [ngClass]="{'active': isToggled}">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover" style="height: 100vh;">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <!--======================================MENU ECOAGRIS==========================================================-->
                    <span class="sub-title gray-color">INDICATEURS</span>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-bar-chart-3"></i>
                                <span class="title">Indicateurs</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/indicateur" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Indicateur
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/variable" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Variable
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/conf-ind-var" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Configuration indicateur variable
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/config-formule" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Configuration formule
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <!--==============-->
                    <span class="sub-title gray-color">SOUS-SYSTEMES</span>
                    <!--==============PRODAGRIC============================================================-->
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-snowflake"></i>
                                <span class="title">
                                    <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                             
                                    Production agricole
                                    </a>
                                
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/prodagric/load" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Chargement des données
                                </a>
                            </li>
                           
                            <li class="sidemenu-item">
                                <a routerLink="/prodagric/indicitem-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Consultation des données
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/prodagric/indicateur_calcule" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Calcule des indicateurs
                                </a>
                            </li>
                           
                            <li class="sidemenu-item">
                                <a routerLink="/prodagric/indicateur_list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Consultation des indicateurs
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <!--==============FIN PRODAGRIC============================================================-->

                     <!--==============PRODUCTION INDUSTRIELLE===========================================================-->
                     <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-snowflake"></i>
                                <span class="title">
                                    <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Production industrielle
                                    </a>
                                
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/prodindus/prodindus-load" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Chargement des données
                                </a>
                            </li>
                           
                            <li class="sidemenu-item">
                                <a routerLink="/prodindus/prodindus-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Consultation des données
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <!--==============PRODUCTION INDUSTRIELLE============================================================-->
                     <!--==============ELEVAGE============================================================ routerLink="/elevage" -->
                     <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-twitter"></i>
                                <span class="title">
                                    <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Elevage
                                    </a>
                                
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/elevage/load" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Chargement des données
                                </a>
                            </li>
                           <!--  <li class="sidemenu-item">
                                <a routerLink="/elevage/calculate" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Calcul des indicateurs
                                </a>
                            </li> -->
                            <li class="sidemenu-item">
                                <a routerLink="/elevage/indicitem-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Consultation des indicateurs
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <!--==============FIN ELEVAGE============================================================-->

                    <!--==================MARCHE===============================================================-->
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-bar-chart-3"></i>
                                <span class="title">
                                    <a routerLink="/marche" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Marché
                                    </a>
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-accordion>
                            <ul class="sidebar-sub-menu">
                               <!------------------->
                               <li class="sidemenu-item">
                                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                           Marche agricole
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <ul class="sidebar-sub-menu">
                                        <li class="sidemenu-item">
                                            <a routerLink="/marche/mache-agricole/load" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                                Chargement des donnees
                                            </a>
                                        </li>
                                      
                                        <li class="sidemenu-item">
                                            <a routerLink="/marche/mache-agricole/indicitem-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                                Consultation des données
                                            </a>
                                        </li>
                                        <li class="sidemenu-item">
                                            <a routerLink="/marche/mache-agricole/indicateur-calcule" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                                Calcule des indicateurs
                                            </a>
                                        </li>
                                      
                                        <li class="sidemenu-item">
                                            <a routerLink="/marche/mache-agricole/indicateur-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                                Consultation des indicateurs
                                            </a>
                                        </li>
                                    </ul>
                                </mat-expansion-panel>
                            </li>
                               <!--  <li class="sidemenu-item">
                                    <a href="javascript:void(0)" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                        Marché agricole
                                    </a>
                                </li> -->

                                <li class="sidemenu-item">
                                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Marché bétail
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ul class="sidebar-sub-menu">
                                            <li class="sidemenu-item">
                                                <a routerLink="/marche/mache-betail/load" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                                    Chargement des donnees
                                                </a>
                                            </li>
                                            <!-- <li class="sidemenu-item">
                                                <a routerLink="/marche/comext/calculate" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                                    Cacul des indicateurs
                                                </a>
                                            </li> -->
                                            <li class="sidemenu-item">
                                                <a routerLink="/marche/mache-betail/indicitem-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                                    Consultation des données
                                                </a>
                                            </li>
                                            <li class="sidemenu-item">
                                                <a routerLink="/marche/mache-betail/indicateur-calcule" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                                    Calcule des indicateurs
                                                </a>
                                            </li>
                                            <li class="sidemenu-item">
                                                <a routerLink="/marche/mache-betail/indicateur-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                                    Consultation des indicateurs
                                                </a>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                </li>
                                <!---------->
                                <li class="sidemenu-item">
                                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Import / Export
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ul class="sidebar-sub-menu">
                                            <li class="sidemenu-item">
                                                <a routerLink="/marche/comext/load" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                                    Chargement des donnees
                                                </a>
                                            </li>
                                            <li class="sidemenu-item">
                                                <a routerLink="/marche/comext/indicitem-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                                    Consultation des données
                                                </a>
                                            </li>
                                            <li class="sidemenu-item">
                                                <a routerLink="/marche/comext/indicateur-calcule" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                                    Cacule des indicateurs
                                                </a>
                                            </li>
                                            <li class="sidemenu-item">
                                                <a routerLink="/marche/comext/indicateur-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                                    Consultation des indicateurs
                                                </a>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                </li>
                            </ul>
                        </mat-accordion>
                    </mat-expansion-panel>
                    <!--=================FIN MARCHE============================================================-->
                    <!--==============PECHE & AQUA============================================================ routerLink="/peche" -->
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-qq-penguin-shape"></i>
                                <span class="title">
                                    <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                        Pêche et Aquaculture
                                    </a>
                                
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/peche/load" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Chargement des données
                                </a>
                            </li>
                           <!--  <li class="sidemenu-item">
                                <a routerLink="/peche/calculate" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Calcul des indicateurs
                                </a>
                            </li> -->
                            <li class="sidemenu-item">
                                <a routerLink="/peche/indicitem-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Consultation des données
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <!--==============FIN PECHE & AQUA============================================================-->
                    <!--==============Macro economie Population============================================================-->
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-snowflake"></i>
                                <span class="title">
                                    <a routerLink="/macro" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                        Macroéconomie
                                    </a>
                                
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/macro/population-load" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Chargement des données
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/macro/population-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Consultation des données
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <!--==============FIN MACRO============================================================-->
                    <!--==============Stock============================================================-->
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-snowflake"></i>
                                <span class="title">
                                    <a routerLink="/stock" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                        Stock
                                    </a>
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/stock/stock-load" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Chargement des données
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/stock/stock-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Consultation des données
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <!--==============FIN Stock============================================================-->
                    <!--<a disabled class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="flaticon-wind"></i>
                        <span class="title">Agro-Hydro-Météo</span>
                    </a>-->
                    <!--  <a  class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="flaticon-twitter"></i>
                        <span disabled class="title">Elevage</span>
                    </a> -->
                   
                    <!--   <a class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="flaticon-pie-chart"></i>
                        <span disabled class="title">Peche et Aqua</span>
                    </a> -->
                    
                   <!-- <a disabled class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="flaticon-pie-chart-4"></i>
                        <span class="title">Intrant</span>
                    </a>-->
                    <!--<a disabled class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="flaticon-pie-chart"></i>
                        <span class="title">Nutrition</span>
                    </a>-->
                    <!-- <a disabled class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="flaticon-sun"></i>
                        <span class="title">Ressource Naturel</span>
                    </a>-->
                    <!--  <a  disabled class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="flaticon-pie-chart-6"></i>
                        <span class="title">Macroéconomie</span>
                    </a> -->

                    
                    <!-- <a  disabled class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="flaticon-file-2"></i>
                        <span class="title">Recherche</span>
                    </a>
                    <a  disabled class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="flaticon-notification"></i>
                        <span class="title">Alert précoce</span>
                    </a>-->
                    <!--  <a  disabled class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="flaticon-pie-chart"></i>
                        <span class="title">Stock</span>
                    </a> -->
                    
                    <!--==============-->
                    <span class="sub-title gray-color">PARAMETRES</span>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-tools"></i>
                                <span class="title">Division administrative</span>
                                <!-- <span class="badge two">4</span> -->
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/divadmin/list"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Division administrative
                                </a>
                            </li>
                         <!--    <li class="sidemenu-item">
                                <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Zone
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Bassin
                                </a>
                            </li> -->
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-tools"></i>
                                <span class="title">Indicateurs</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a  routerLink="/frequence/list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Fréquence
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a  routerLink="/unite/list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Unite
                                </a>
                            </li>
                            <li class="sidemenu-item"> 
                                <a  routerLink="/sousysteme/list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Sous système
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a  routerLink="/campagne/list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Campagne
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a  routerLink="/niveau/list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Niveau
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                  
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-people"></i>
                                <span class="title">Utilisateurs</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                           <!--  <li class="sidemenu-item">
                                <a routerLink="/user/profil" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Profil
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a  routerLink="/user/compte/{{id}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Compte
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/user/securite" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Securite
                                </a>
                            </li> -->
                        </ul>
                    </mat-expansion-panel>
                    <!--==============-->
                    <!--=======================================FIN MENU ECOAGRIS=====================================================-->
                   <!--  <a routerLink="/authentication/logout" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="flaticon-tools"></i>
                        <span class="title">Logout</span>
                    </a> -->
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>