      <!-- start hero -->
      <section class="hero-one-3 justify-content-center position-relative overflow-hidden section" id="home" style="background-image: url(assets/images/hero-one-3-bg.png);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mb-5">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <carousel class="carousel-inner" id="crouselthree" [isAnimated]="true">
                            <slide class="carousel-item mt-1">
                                <div class="hero-one-3-content text-center">
                                    <span class="badge-lg bg-soft-primary text-primary text-uppercase rounded">Find Your Element</span>
                                    <h1 class="fw-light hero-title my-4">
                                        Powering Business
                                    </h1>
                                    <p class="fs-16 text-muted">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
                                        Est error maxime ullam veritatis beatae impedit sit illo nulla nemo dolor mollitia ea unde.
                                    </p>

                                    <a href="javascript:void(0);" class="btn btn-outline-primary mt-4">Discover more</a>
                                    <a href="javascript:void(0);" class="btn btn-primary ms-2 mt-4">Contact us</a>
                                </div>
                            </slide>
                            <slide class="carousel-item mt-1">
                                <div class="hero-one-3-content text-center">
                                    <span class="badge-lg bg-soft-primary text-primary text-uppercase rounded">Multi purpose theme</span>
                                    <h1 class="fw-light hero-title my-4">
                                        To Grow Business
                                    </h1>
                                    <p class="fs-16 text-muted mb-4">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
                                        Est error maxime ullam veritatis beatae impedit sit illo nulla nemo dolor mollitia ea unde.
                                    </p>

                                    <a href="javascript:void(0);" class="btn btn-outline-primary">Discover more</a>
                                </div>
                            </slide>
                            <slide class="carousel-item mt-1">
                                <div class="hero-one-3-content text-center">
                                    <span class="badge-lg bg-soft-primary text-primary text-uppercase rounded">Start Connecting</span>
                                    <h1 class="fw-light hero-title my-4">
                                        With Online Customers
                                    </h1>
                                    <p class="fs-16 text-muted mb-4">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
                                        Est error maxime ullam veritatis beatae impedit sit illo nulla nemo dolor mollitia ea unde.
                                    </p>

                                    <a href="javascript:void(0);" class="btn btn-outline-primary">Discover more</a>
                                    <a href="javascript:void(0);" class="btn btn-primary ms-2">Contact us</a>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 hero-one-3-bottom p-0 position-absolute end-0 bottom-0 start-0">
                    <img class="img-fluid d-block w-100" src="assets/images/hero-one-3-bottom-img.png" alt="" />
                </div>
            </div>
        </div>
    </section>

        
<app-services></app-services>
<app-features></app-features>
<app-clients></app-clients>
<app-portfolio></app-portfolio>
<app-pricing></app-pricing>
<app-contact></app-contact>
