
<!-- start counter -->
<section class="section" style="background-image: url(assets/images/counterbg.jpg); background-position: center;" id="portfolio">
    <div class="bg-overlay position-absolute top-0 end-0 bottom-0 start-0"></div>

    <div class="container">
        <div class="row" id="counter">
            <div class="col-sm-3 col-6">
                <div class="text-white text-center my-sm-0 my-5">
                    <img class="img-fluid mb-4" src="assets/images/counter-img-1.png" alt="" />
                    <h3 class="mb-2"><span class="counter_value" [countUp]="2570"></span><sup>+</sup></h3>
                    <h4 class="fw-light fs-18">Projects Done</h4>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                <div class="text-white text-center my-sm-0 my-5">
                    <img class="img-fluid mb-4" src="assets/images/counter-img-2.png" alt="" />
                    <h3 class="mb-2"><span class="counter_value" [countUp]="300"></span><sup>+</sup></h3>
                    <h4 class="fw-light fs-18">Awards Wins</h4>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                <div class="text-white text-center my-sm-0 my-5">
                    <img class="img-fluid mb-4" src="assets/images/counter-img-3.png" alt="" />
                    <h3 class="mb-2"><span class="counter_value" [countUp]="4500"></span><sup>+</sup></h3>
                    <h4 class="fw-light fs-18">Happy Clients</h4>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                <div class="text-white text-center my-sm-0 my-5">
                    <img class="img-fluid mb-4" src="assets/images/counter-img-4.png" alt="" />
                    <h3 class="mb-2"><span class="counter_value" [countUp]="270"></span><sup>+</sup></h3>
                    <h4 class="fw-light fs-18">Country</h4>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>

    <!-- end container -->
</section>
<!-- end counter -->
