<div
    class="row"
    [class.component-dark-theme]="themeService.isDark()"
>   
    <!--------Pays-------------------------------------------->
    <div  class="col-lg-3 col-sm-6">
        <mat-card style="background-color:#fff !important;color:whitesmoke !important;" class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center justify-content-space-between">
                <h3>8.98  %</h3>
                <div>
                    <img src="http://127.0.0.1:8000/Medias/images/Flag_Niger.png" width="45px" height="15px">
                    <!-- <i class="ri-coupon-line"></i> -->
                </div>
            </div>
            <h4 class="fw-semibold">Part de l'élevage dans le PIB</h4>
            <p>2016</p>
        </mat-card>
    </div>
    <!--------Sous-systeme-------------------------------------------->
    <div  class="col-lg-3 col-sm-6">
        <mat-card style="background-color:#fff !important; color:whitesmoke !important" class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center justify-content-space-between">
                <h3>1.42 %</h3>
                <div>
                    <img src="http://127.0.0.1:8000/Medias/images/Flag_Niger.png" width="45px" height="15px">
                    <!-- <i class="ri-shape-2-line"></i> -->
                </div>
            </div>
            <h4 class="fw-semibold">Part de la pêche dans le PIB</h4>
            <p>2016</p>
        </mat-card>
    </div>
    <!--------Indicateurs-------------------------------------------->
    <div class="col-lg-3 col-sm-6">
        <mat-card style="background-color:#fff !important; color:whitesmoke !important" class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center justify-content-space-between">
                <h3>26.48 %</h3>
                <div>
                     <img src="http://127.0.0.1:8000/Medias/images/Flag_Niger.png" width="45px" height="15px">
                    <!-- <i class="ri-shape-2-line"></i> -->
                </div>
            </div>
            <h4 class="fw-semibold">Part de l'agriculture dans le PIB</h4>
            <p>2016</p>
        </mat-card>
    </div>
    <!--------Utilisateur-------------------------------------------->
    <div class="col-lg-3 col-sm-6">
        <mat-card style="background-color:#fff !important" class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center justify-content-space-between">
                <h3>{{nb_data_indic}}</h3>
                <div>
                    <img src="http://127.0.0.1:8000/Medias/images/Flag_Niger.png" width="45px" height="15px">
                   <!-- <i class="ri-shape-2-line"></i> -->
               </div>
            </div>
            <h4 class="fw-semibold">Données indicateurs</h4>
            <p>Détails</p>
        </mat-card>
    </div>
</div>