<div
    class="row"
    [class.component-dark-theme]="themeService.isDark()"
>   
    <!--------Pays-------------------------------------------->
    <div  class="col-lg-3 col-sm-6">
        <mat-card style="background-color:#63A537 !important;color:whitesmoke !important;" class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center justify-content-space-between">
                <h3>{{nb_pays}}</h3>
                <div class="icon">
                    <i class="ri-coupon-line"></i>
                </div>
            </div>
            <h4 class="fw-semibold">Pays</h4>
            <p>Détails</p>
        </mat-card>
    </div>
    <!--------Sous-systeme-------------------------------------------->
    <div  class="col-lg-3 col-sm-6">
        <mat-card style="background-color:#37A76F !important; color:whitesmoke !important" class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center justify-content-space-between">
                <h3>{{nb_sousysteme}}</h3>
                <div class="icon">
                    <i class="ri-shape-2-line"></i>
                </div>
            </div>
            <h4 class="fw-semibold">Sous-système</h4>
            <p>Détails</p>
        </mat-card>
    </div>
    <!--------Indicateurs-------------------------------------------->
    <div class="col-lg-3 col-sm-6">
        <mat-card style="background-color:#44C1A3 !important; color:whitesmoke !important" class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center justify-content-space-between">
                <h3>{{nb_indicateur}}</h3>
                <div class="icon">
                    <i class="ri-stack-line"></i>
                </div>
            </div>
            <h4 class="fw-semibold">Indicateurs</h4>
            <p>Détails</p>
        </mat-card>
    </div>
    <!--------Utilisateur-------------------------------------------->
    <div class="col-lg-3 col-sm-6">
        <mat-card style="background-color:#037D42 !important" class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center justify-content-space-between">
                <h3>{{nb_data_indic}}</h3>
                <div class="icon">
                    <i class="ri-apps-line"></i>
                </div>
            </div>
            <h4 class="fw-semibold">Données indicateurs</h4>
            <p>Détails</p>
        </mat-card>
    </div>
</div>