 <!-- our pricing  -->
 <section class="section pricing-bg" id="pricing">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-8 text-center">
                <h2 class="fs-3 fw-medium lh-1 text-dark mb-3">Our Pricing</h2>
                <p class="text-muted">
                    We thrive when coming up with innovative ideas but also understand that a smart concept should be supported with faucibus sapien odio measurable results.
                </p>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="price-box border rounded bg-white text-center p-5">
                    <h1 class="fw-light text-dark mb-2 price-title">Free</h1>
                    <h4 class="text-muted fs-18 fw-normal pb-2">Per Month</h4>
                    <div class="mt-5">
                        <p class="text-dark my-3 mb-0"><i-feather class="icon-xs text-primary me-2" name="chevrons-right"></i-feather>Online Space : 500MB</p>
                        <p class="text-dark my-3 mb-0"><i-feather class="icon-xs text-primary me-2" name="chevrons-right"></i-feather>Bandwidth : 1.5GB</p>
                        <p class="text-dark my-3 mb-0"><i-feather class="icon-xs text-primary me-2" name="chevrons-right"></i-feather>Support : Yes</p>
                        <p class="text-dark my-3 mb-0"><i-feather class="icon-xs text-primary me-2" name="chevrons-right"></i-feather>Hidden Fees : No</p>
                    </div>
                    <a href="javascript:void(0);" class="btn btn-primary mt-5">
                        Choose Plan
                        <i-feather class="icon-xs" name="chevrons-right"></i-feather>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="price-box border bg-white rounded text-center p-5">
                    <h1 class="fw-light text-dark mb-2 price-title">62<sup>$</sup></h1>
                    <h4 class="text-muted fs-18 fw-normal pb-2">Per Month</h4>
                    <div class="mt-5">
                        <p class="text-dark my-3 mb-0"><i-feather class="icon-xs text-primary me-2" name="chevrons-right"></i-feather>Online Space : 500MB</p>
                        <p class="text-dark my-3 mb-0"><i-feather class="icon-xs text-primary me-2" name="chevrons-right"></i-feather>Bandwidth : 1.5GB</p>
                        <p class="text-dark my-3 mb-0"><i-feather class="icon-xs text-primary me-2" name="chevrons-right"></i-feather>Support : Yes</p>
                        <p class="text-dark my-3 mb-0"><i-feather class="icon-xs text-primary me-2" name="chevrons-right"></i-feather>Hidden Fees : No</p>
                    </div>
                    <a href="javascript:void(0);" class="btn btn-primary mt-5">
                        Choose Plan
                        <i-feather class="icon-xs" name="chevrons-right"></i-feather>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="price-box border rounded bg-white text-center p-5">
                    <h1 class="fw-light text-dark mb-2 price-title">299<sup>$</sup></h1>
                    <h4 class="text-muted fs-18 fw-normal pb-2">Per Month</h4>
                    <div class="mt-5">
                        <p class="text-dark my-3 mb-0"><i-feather class="icon-xs text-primary me-2" name="chevrons-right"></i-feather>Online Space : 500MB</p>
                        <p class="text-dark my-3 mb-0"><i-feather class="icon-xs text-primary me-2" name="chevrons-right"></i-feather>Bandwidth : 1.5GB</p>
                        <p class="text-dark my-3 mb-0"><i-feather class="icon-xs text-primary me-2" name="chevrons-right"></i-feather>Support : Yes</p>
                        <p class="text-dark my-3 mb-0"><i-feather class="icon-xs text-primary me-2" name="chevrons-right"></i-feather>Hidden Fees : No</p>
                    </div>
                    <a href="javascript:void(0);" class="btn btn-primary mt-5">
                        Choose Plan
                        <i-feather class="icon-xs" name="chevrons-right"></i-feather>
                    </a>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end our-pricing -->

<!-- brand-logo -->
<section class="brand-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 my-4">
                <img class="img-fluid mx-auto brand-logo" src="assets/images/brand-logo-1.png" alt="" />
            </div>
            <div class="col-md-3 col-6 my-4">
                <img class="img-fluid mx-auto brand-logo" src="assets/images/brand-logo-2.png" alt="" />
            </div>
            <div class="col-md-3 col-6 my-4">
                <img class="img-fluid mx-auto brand-logo" src="assets/images/brand-logo-3.png" alt="" />
            </div>
            <div class="col-md-3 col-6 my-4">
                <img class="img-fluid mx-auto brand-logo" src="assets/images/brand-logo-4.png" alt="" />
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end-container -->
</section>
<!-- end brand logo -->
