 <!-- start services -->
 <section class="service-layout-1 section" id="services">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-8 text-center">
                <h2 class="fs-3 fw-medium lh-1 text-dark mb-3">Our Services</h2>
                <p class="text-muted">
                    We craft digital, graphic and dimensional thinking, to create category leading brand experiences that have meaning and add a value for our clients.
                </p>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded service-box-one border">
                    <div class="card-body p-4 m-2">
                        <i-feather class="icon-xl service-icon sw-1" name="alert-octagon"></i-feather>
                        <h5 class="service-title fs-18 my-4">Awesome Support</h5>
                        <p class="service-subtitle pb-4">Some quick example text to build on the card title and make up the bulk of the card's content platform.</p>
                        <a class="fw-medium align-middle" href="">Learn More <i-feather class="icon-xs" name="chevrons-right"></i-feather> </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded service-box-one border active">
                    <div class="card-body p-4 m-2">
                        <i-feather class="icon-xl sw-1 service-icon" name="droplet"></i-feather>
                        <h5 class="service-title fs-18 my-4">Dynamic Growth</h5>
                        <p class="service-subtitle pb-4">Credibly brand standards compliant users without extensible services. Anibh euismod tincidunt.</p>
                        <a class="fw-medium align-middle" href="">Learn More <i-feather class="icon-xs" name="chevrons-right"></i-feather> </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded service-box-one border">
                    <div class="card-body p-4 m-2">
                        <i-feather class="icon-xl sw-1 service-icon" name="minimize"></i-feather>
                        <h5 class="service-title fs-18 my-4">Branding Identity</h5>
                        <p class="service-subtitle pb-4">Separated they live in Bookmarksgrove right at the coast of the Semantics, and large language ocean neary.</p>
                        <a class="fw-medium align-middle" href="">Learn More <i-feather class="icon-xs" name="chevrons-right"></i-feather> </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded service-box-one border">
                    <div class="card-body p-4 m-2">
                        <i-feather class="icon-xl sw-1 service-icon" name="message-circle"></i-feather>
                        <h5 class="service-title fs-18 my-4">Solutions Business</h5>
                        <p class="service-subtitle pb-4">It is a paradisematic country, in which roasted parts of sentences fly into your mouth leave for the far World.</p>
                        <a class="fw-medium align-middle" href="">Learn More <i-feather class="icon-xs" name="chevrons-right"></i-feather> </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded service-box-one border">
                    <div class="card-body p-4 m-2">
                        <i-feather class="icon-xl sw-1 service-icon" name="copy"></i-feather>
                        <h5 class="service-title fs-18 my-4">Digital Design</h5>
                        <p class="service-subtitle pb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                        <a class="fw-medium align-middle" href="">Learn More <i-feather class="icon-xs" name="chevrons-right"></i-feather> </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded service-box-one border">
                    <div class="card-body p-4 m-2">
                        <i-feather class="icon-xl sw-1 service-icon" name="shield"></i-feather>
                        <h5 class="service-title fs-18 my-4">Goal Business</h5>
                        <p class="service-subtitle pb-4">Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia.</p>
                        <a class="fw-medium align-middle" href="">Learn More <i-feather class="icon-xs" name="chevrons-right"></i-feather> </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end services -->
