
<section class="hero-two-5 bg-light position-relative overflow-hidden align-items-center d-flex section" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="hero-two-5-content">
                    <h1 class="text-dark display-4 fw-light mb-4">
                        A propos
                        de la <br />plateforme <strong class="text-primary">ECOAGRIS</strong> 
                    </h1>
                    <h5 class="text-muted fw-normal mb-4">
                        Instrument dynamique de suivi de l’agriculture en Afrique de l’Ouest
                        qui devra permettre de disposer d’informations actualisées pour la mise au point,
                        le suivi et l’évaluation de l’ensemble des travaux ou initiatives entrepris.
                    </h5>
                    <a href="http://localhost:4200/authentication" class="btn btn-primary">Mettre à jour les indicateurs</a>
                </div>

            </div>
            <div class="col-md-6 offset-md-1 mt-sm-0 mt-5">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <carousel class="carousel-inner">
                        <slide class="carousel-item active">
                            <img src="assets/images/hero-eco/img-prodagric-2.png" class="d-block w-100" alt="..." />
                        </slide>
                        <slide class="carousel-item">
                            <img src="assets/images/hero-eco/marche-agricole-2.png" class="d-block w-100" alt="..." />
                        </slide>
                        <slide class="carousel-item">
                            <img src="assets/images/hero-eco/img-prodagric-2.png" class="d-block w-100" alt="..." />
                        </slide>
                    </carousel>
                </div>
                <div class="hero-two-5-overlay"></div>
            </div>
        </div>
    </div>
</section>

<app-service2></app-service2>
<app-feature2></app-feature2>
<!-- <app-clients2></app-clients2>
<app-portfolio2></app-portfolio2> -->
<app-pricing2></app-pricing2>