<div class="row">
    <div class="col-lg-6 col-md-6">
        <mat-card class="mb-25 tagus-card">
            <mat-card-header class="border-bottom">
                <h5 class="mb-0">Part de l'agriculture dans le PIB</h5>
            </mat-card-header>
            <mat-card-content>
                <div class="chart">
                    <apx-chart
                        [series]="chartOptions.series!"
                        [chart]="chartOptions.chart!"
                        [xaxis]="chartOptions.xaxis!"
                        [dataLabels]="chartOptions.dataLabels!"
                        [grid]="chartOptions.grid!"
                        [yaxis]="chartOptions.yaxis!"
                        [stroke]="chartOptions.stroke!"
                        [title]="chartOptions.title!"
                        [colors]="chartOptions.colors!"
                    ></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6 col-md-6">
        <mat-card class="mb-25 tagus-card">
            <mat-card-header class="border-bottom">
                <h5 class="mb-0">Part de l'agriculture dans le PIB</h5>
            </mat-card-header>
            <mat-card-content>
                <div class="chart">
                    <apx-chart
                        [series]="chartOptions_2.series!"
                        [chart]="chartOptions_2.chart!"
                        [dataLabels]="chartOptions_2.dataLabels!"
                        [plotOptions]="chartOptions_2.plotOptions!"
                        [yaxis]="chartOptions_2.yaxis!"
                        [xaxis]="chartOptions_2.xaxis!"
                        [legend]="chartOptions_2.legend!"
                        [colors]="chartOptions_2.colors!"
                        [grid]="chartOptions_2.grid!"
                    ></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
