<!-- start hero -->
<section class="hero-two-4 bg-light position-relative overflow-hidden align-items-center d-flex section" id="home" style="background-image: url(assets/images/hero-two-4-bg.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="hero-two-4-content">
                    <h1 class="text-dark display-4 fw-light mb-5">
                        Let's Find The<br />
                        <strong class="text-primary">Best Plan</strong> For your Project.
                    </h1>
                    <h6 class="text-muted fw-normal lh-sm mb-5">We help people to sell their products complete creating. A beautiful, modern, complete theme for building next generation websites.</h6>
                    <form class="row gx-3 gy-2 align-items-center justify-content-center">
                        <div class="col-10">
                            <div class="input-group">
                                <input type="text" class="form-control ps-5" id="autoSizingInputGroup" placeholder="Your email" />
                                <i-feather class="sw-1_5 icon-xxs text-muted position-absolute top-50 start-0 end-0 translate-middle-y ms-4 hero-icon" name="mail"></i-feather>
                                <div class="input-group-text btn btn-primary">Subscribe</div>
                            </div>
                        </div>
                        <p>Customised vector icons <span class="text-primary">Updated Weekly.</span></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>

<app-service2></app-service2>
<app-feature2></app-feature2>
<app-clients2></app-clients2>
<app-portfolio2></app-portfolio2>
<app-pricing2></app-pricing2>